<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!---<nlog autoReload="true" internalLogFile="c:\temp\nlog-internal.log">-->
	<targets>
		<target xsi:type="File" name="f" fileName="${basedir}/logs/$test.csv">
			<layout xsi:type="CsvLayout">
				<column name="日志时间" layout="${longdate}"/>
				<column name="日志内容" layout="${message}"/>
				<column name="日志" layout="${logger}"/>
				<column name="日志级别" layout="${level}"/>
			</layout>
		</target>
		<target name="file" xsi:type="File" layout="${longdate} ${uppercase:${level}} ${message}" fileName="log.txt" keepFileOpen="false" concurrentWrites="true" encoding="utf-8" archiveAboveSize="10485760" archiveFileName="log_{#}.txt" archiveNumbering="DateAndSequence" maxArchiveFiles="10" createDirs="true">
			<rollingInterval value="Day" />
		</target>
		<target xsi:type="File" name="fi" fileName="${basedir}/logs/${shortdate}.log"
			  layout="${longdate} ${uppercase:${level}} ${message}"/>
		<!--<target xsi:type="File" name="fi" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
			  maxArchiverFiles="5" archiveAboveSize="3" archiveEvery="Day" />-->
	</targets>

	<rules>

		<logger name="*" minlevel="Debug" writeTo="file">
			<filters>
				<when condition="length('${message}')>10" action="Ignore"></when>
			</filters>
		</logger>
		<logger name="*" minlevel="Info" writeTo="fi" />
	</rules>
</nlog>
